<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Walletだよ～</title>
</head>
<body>
<div>

    <h1>Wallet</h1>
    <div id="wallet_amount">0</div>
    <button id="reload_wallet">リロードボタン</button>

    <p>Public Key</p>
    <textarea id="public_key" rows="2" cols="100"></textarea>

    <p>Private Key</p>
    <textarea id="private_key" rows="1" cols="100"></textarea>

    <p>Blockchain Address</p>
    <textarea id="blockchain_address" rows="1" cols="100"></textarea>

</div>

<div>

    <h1>Send Money</h1>
    <div>
        受けとり手のアドレス: <input id="recipient_blockchain_address" size="100" type="text">
        <br>
        送る額: <input id="send_amount" type="text">
        <br>
        <button id="send_money_button">送るよ！</button>
    </div>

</div>

</body>
</html>